<new-header  [isLanguage]="true" [title]="'Language'"></new-header>
<ion-content>
    <alert-event ></alert-event>
    <div class="language-container">
        <div (tap)="openLanguagesList()" display-flex align-center>
            <div font-size-20 bold segoeUI-bold>English</div>
            <div margin-left-auto font-size-20 bold>
                <ion-icon *ngIf="isOpen" name="ios-arrow-down"></ion-icon>
                <ion-icon *ngIf="!isOpen" name="ios-arrow-up"></ion-icon>
            </div>
        </div>
        <div class="languages-list" [ngClass]="{'open':isOpen,'close':!isOpen}">
            <div margin-top-20 font-size-20 *ngFor="let lng of [1,2,3,4]">
                <div segoeUI-semilight>Language</div>
            </div>
        </div>
    </div>
</ion-content>