page-languages {
    .scroll-content{
        margin-top: 56px;
        padding: 0 !important
    }
    .language-container{
        margin: 20px 27px;
        .languages-list{
           overflow:hidden;
           transition: height 0.4s linear;
            //transition: height 500ms cubic-bezier(.06,.97,1,1.17);
            margin-top: 20px;     
        }
    }
    .open{
        height: 0;         
    }
    .close{
        height: auto;
        border-top: 2px solid #55c4cf
    }
}
