page-login {
 
    .scroll-content{
       margin-bottom: 0 !important;
       overflow: hidden;
       padding-bottom: 0 !important
    }
    // .vertical-align-content > *
    // {
    //     display: flex!important;
    //     align-content: center!important;
    //    align-items: center!important;
    // }

    .toolbar-background-md{
        background: white
    }
    .logo{
        text-align: center;
        margin-top: 28px;        
        // background-image: url('./../../assets/imgs/business_club_for_impact.png');
        // height: 124px;
        // width: 300px;
        // background-size: cover;
        // background-position: center;
        // background-repeat: no-repeat;
        .login-logo{
            /* width: 220px;
             position: absolute;
             top: -145px;*/
             width:275px;            
             margin-bottom: 20px;             
         }
    }
    form{
       
        width: 80%;
        margin:0 auto;
    .login-button{
        margin-top: 30px;
            width: 200px;
            background: rgb(146,63,153);
            border-radius: 20px;
            width: 100%;   
            height: 38px;   
            font-size: 16px;
            text-transform: capitalize      
        }
        .item-md.item-block .item-inner{
            padding-right: 0 !important
        }
        .input{
            margin: 0;
            border-radius: 20px;
            border: 1px solid rgb(85,196,207);
            height: 38px;
            width: 100%;
            //width: 250px;
            padding-left: 10px;
        }
        .label-md[stacked], .label-ios[stacked]{
            font-size: 16px;
            margin-bottom: 7px;
            font-weight: bold;
            color: black !important;
        }
    }
 
    .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none;
    }
    ion-footer{
        position: fixed;
    }    
    .grid{
        width: 80%;
        margin: 0 auto;
        padding: 5px 0;

        .buttons{
            height: 40px;
            text-transform: capitalize;
            font-size: 16px;
        }
        .login-button{
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background: rgb(139,60,145);
            color: white;
            
        }
        .registration-button{
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;  
            box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.11);  
            background-color: white ;
            color: rgb(112,112,112);
        
        }
    }
    .has-margin{
        margin-top: 8vh !important;
    }
    .no-margin{
        margin-top: 0 !important;
    }
}
