<ion-content>
  <div class="logo"> <img src="assets/imgs/business_club_for_impact.png" class="login-logo"></div>
  <div text-center segoeUI-bold new-color font-size-20 class="join-text">Join the club</div>
  <form [ngClass]="{'has-margin':!keyboard.isOpen(),'no-margin':keyboard.isOpen()}" [formGroup]="loginFormGroup">
    <div id="group">
      <ion-item no-padding-left no-lines>
        <ion-label segoeUI-bold bold stacked>Email</ion-label>
        <ion-input (ionFocus)="scrollTo('group')" segoeUI class="input" type="email" formControlName="email">
        </ion-input>
      </ion-item>
      <ion-item no-padding-left margin-bottom-5 no-lines margin-top-10>
        <ion-label segoeUI-bold bold stacked>Password</ion-label>
        <ion-input class="input" (ionFocus)="scrollTo('group')" type="password" formControlName="password" segoeUI>
        </ion-input>
      </ion-item>
    </div>
    <div red font-size-14 text-center *ngIf="isError">{{errorMessage}}</div>
  </form>

  <ion-footer *ngIf="!keyboard.isOpen()">
    <ion-toolbar>
      <ion-grid margin-bottom-20 margin-top-25>
        <ion-row>
          <ion-col col-6 no-padding no-margin>
            <button (tap)="login()" class="buttons login-button" segoeUI-bold full-width ion-button>Login</button>
          </ion-col>
          <ion-col col-6 no-padding no-margin>
            <button class="buttons registration-button" (tap)="openRegistrationPage()" segoeUI-bold full-width
              ion-button>Registration</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
  <!--  -->

  <ion-grid *ngIf="keyboard.isOpen()" margin-top-25>
    <ion-row>
      <ion-col col-6 no-padding no-margin>
        <button (tap)="login()" class="buttons login-button" segoeUI-bold full-width ion-button>Login</button>
      </ion-col>
      <ion-col col-6 no-padding no-margin>
        <button class="buttons registration-button" (tap)="openRegistrationPage()" segoeUI-bold full-width
          ion-button>Registration</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>