change-password{
    .scroll-content{
        overflow: hidden;
    }
    .toolbar-background-md{
        background: white;
        border: none;       
    }
    .eye{
        background: none;
        font-size: 1.4em;
        z-index: 99999;
        position: absolute;
        right: 0;
        top: 50%;
        ion-icon{
            font-size: 20px
        }
    }
    .button-md.activated{
        background: none !important;
        color: black !important
    }
    ion-buttons{
            margin: 0 1.5rem !important;
        }
    .list{
        width: 90%;
        margin: 20px auto;
        .label-md[stacked], .label-ios[stacked]{
                font-size: 16px;
                margin-bottom: 7px;
                font-weight: bold;
                color: black !important;
            }
            .input{
                margin: 0;
                margin-right: auto;
                border-radius: 20px;
                border: 1px solid rgb(85,196,207);
                height: 38px;
                width: 100%;
                padding-left: 10px;
                font-family: 'Segoe UI'
            }
        } 
        .button-clear-md-dark{
            border-color:none
        }
    .change-button{
        margin-top: 20px;
        background: rgb(146,63,153);
        border-radius: 20px;
        padding: 20px;
        font-size: 18px;
        font-family: 'SegoeUI';
        text-transform:unset;
        width: 100%;
        height: 40px;
    }
}