<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button (tap)="dismiss()" ion-button icon-only>
                <ion-icon class="close" name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button capitalize new-color ion-button segoeUI (tap)="changePassword()" font-size-20>Save</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="formGroup" class="list">
        <ion-item id="name" no-lines>
            <ion-label stacked segoeUI-bold>Old Password</ion-label>
            <ion-input segoeUI formControlName="oldPassword" class="input" [type]="typeOld"></ion-input>
            <!-- <button (tap)="changeType('old')" class="eye" ion-button clear color="dark" type="button" item-right>
                <ion-icon [name]="oldIcon"> </ion-icon>
            </button> -->
        </ion-item>
        <ion-item id="email" no-lines margin-top-10>
            <ion-label stacked segoeUI-bold>New Password</ion-label>
            <ion-input segoeUI formControlName="newPassword" class="input" [type]="typeNew"
                (input)="enterNewPassword()"></ion-input>
            <!-- <button (tap)="changeType('new')" class="eye" ion-button clear color="dark" type="button" item-right>
                <ion-icon [name]="newIcon"> </ion-icon>
            </button> -->
        </ion-item>
        <ion-item id="company" no-lines margin-top-10>
            <ion-label stacked segoeUI-bold>Repeat New Password</ion-label>
            <ion-input (input)="enterRepeatPassword()" segoeUI formControlName="repeatPassword" class="input"
                [type]="typeRepeat"></ion-input>
            <!-- <button (tap)="changeType('repeat')" class="eye" ion-button clear color="dark" type="button" item-right>
                <ion-icon [name]="repeatIcon"> </ion-icon>
            </button> -->
        </ion-item>
        <div *ngIf="isTrue" red font-size-14 text-center margin-top-10>Passwords are not the same.</div>
        <div red font-size-14 text-center margin-top-10 *ngIf="isError" capitalize>{{errorMessage}}</div>
    </form>
</ion-content>