page-conversation-list {
    .scroll-content{
        padding-left: 0 !important;
        padding-right: 0 !important
    } 
    .conversation-content{
        width: 85%;
        margin: 0 auto;
        .read-button{
            text-align: end;
            button{
                height: 35px;
                background: #55c4cf;
                font-size: 15px;
                width: fit-content;
                border-radius: 20px;
            }
        }
    
    .image{
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0px 3px 29px 0px rgba(0,0,0,0.07);
        }
        .second-image{
            height: 50px;
            width: 50px;
            margin-top: -28px;
            z-index: 99999;
        }
        .unreadable-message-count{
            border-radius: 50%;
            background: red;
            height: 14px;
            width: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 9px;
            margin-left: 10px;
        }
    }
    .create{
        position: fixed;
        bottom: 70px;
        right: 32px;
        background: white;
        color: rgb( 136,58,142);
        box-shadow: 0px 3px 6px 5px rgba(0,0,0,0.16);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99999;
        .add{
            font-size: 20px;          
            // background-position: center;
            // background-repeat: no-repeat;
            // background-size: cover;
            font-weight: bold;
            
        }
        .fab-text{
            position: absolute;
            top: -40px;
            text-align: center;
            width: 75px;
            font-size: 10px;
          //  display: none
        }
        
    }
    .last-message{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        width: 104px;
    }
    // .create:hover .fab-text {
    //     display:block;
       
    // }
    // *[margin-left-5vw]{
    //     margin-left: 5vw;
    // }
    .more-image{
        margin-left: 20px;
        height: 50px;
        width: 50px;
    }
    .one-image{
        height: 65px;
        width: 65px;
    }
    *[margin-top--28]{
        margin-top: -28px;
    }


}
