<ion-header>
  <new-header [title]="clubName+' Conversation'"></new-header>
</ion-header>

<ion-content>
  <div class="conversation-content">
    <alert-event></alert-event>
    <div padding-top-10 *ngIf="sum" class="read-button">
      <button (tap)="readAllMessage()" capitalize ion-button>Mark all read</button>
    </div>
    <search (empty)="empty($event)" (val)="filter($event)"></search>
    <ion-grid no-padding-left>
      <ion-row [class.no-margin]="i==0" margin-left-5vw margin-top-20 display-flex align-center
        *ngFor="let conversation of conversations;let i=index"
        (tap)="openConvaresation(conversation.name,conversation.id,conversation.count,false)">
        <ion-col no-padding-left width-fit col-3>
          <div [ngClass]="{'more-image':conversation?.conversationName.length > 1,
            'one-image':conversation?.conversationName.length == 1}"
            [ngStyle]="{'background-image':'url('+fileUrl+conversation?.conversationName[0]?.userAvatar+')'}"
            class="image"></div>
          <div *ngIf="conversation?.conversationName.length > 1"
            [ngStyle]="{'background-image':'url('+fileUrl+conversation?.conversationName[1]?.userAvatar+')'}"
            class="image second-image"></div>
        </ion-col>
        <ion-col  col-7>
          <div display-flex align-center uppercase font-size-20 segoeUI-bold margin-bottom-5>{{conversation?.name}}
            <div  *ngIf="conversation?.count" class="unreadable-message-count">
              {{conversation?.count}}
            </div>
          </div>
          <div font-size-15 class="last-message" *ngIf="conversation?.lastMessage[0]?.type == 0">
            {{conversation?.lastMessage[0]?.content}}
          </div>
          <div font-size-15 class="last-message" *ngIf="conversation?.lastMessage[0]?.type == 1">
            {{conversation?.lastMessage[0]?.fileName}}
          </div>
        </ion-col>
        <!-- <ion-col *ngIf="conversation?.count" display-flex justify-end>
          <div class="unreadable-message-count">
            <span>{{conversation?.count}}</span>
          </div>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  <div (tap)="createConversation()" ion-fixed class="create">
    <div grey segoeUI class="fab-text">create a new
      conversation?</div>
    <div class="add">
      <ion-icon name="add"></ion-icon>
    </div>
  </div>
</ion-content>