page-invite {
    .toolbar-background-md{
        background: white;
        border: none;       
    }
    ion-buttons{
            margin: 0 1.5rem !important;
        }
   .members-list {
        width: 85%;
        margin: 0 auto;
        .image{
           //border: 1px solid;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover    
        }  
        .checkbox-ios .checkbox-checked{
            background-color: rgb(85,196,207);
            border-color: rgb(85,196,207)
        }
}
    *[margin-5]{
        margin: 5px 20px 5px 0
    }
    .label-md{
        display: flex;
        align-items: center;
        margin: 0 8px 0 0;
    }
}
