<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button (tap)="dismiss()" ion-button icon-only>
        <ion-icon class="close" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
        <button capitalize new-color ion-button segoeUI (tap)="confirmed()" font-size-20>Confirmed</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="members-list">
    <div margin-top-20 *ngFor="let member of members; let i=index" align-center display-flex>
      <ion-label (tap)="getCheckedMembers(member,'label')">
        <div [ngStyle]="{'background-image':'url('+fileUrl+member.avatar+')'}" class="image"></div>
        <div margin-left-20 bold font-size-20 segoeUI-bold>{{member.name}}</div>
      </ion-label>
      <ion-checkbox mode="ios" [disabled]="member.isDisable" (ngModelChange)="getCheckedMembers(member)" [(ngModel)]="member.isSelect"
        margin-left-auto>
      </ion-checkbox>
    </div>
  </div>
</ion-content>