page-event-info {
    .scroll-content{
       // margin-top: 56px
    }
    
    .event-info{
        width: 90%;
        margin: 0 auto;
        .event-image{
            height: 106px;
            width: 100%;
            margin: 0 auto;
            border-radius: 6px;
           // border: 1px solid;
            position: relative;
            background-position: center;
            background-repeat: no-repeat;;
            background-size: cover;
           // background: rgb(139,60,145);
            .create-icon-content{
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    display: flex;
                    height: 40px;
                    width: 40px;
                    align-items: center;
                    justify-content:center;
                .create-icon{                    
                    height:18px;
                    width: 18px;
                    background-image: url('../assets/imgs/create.png');
                    background-position: center;
                    background-repeat: no-repeat;;
                    background-size: cover;
                }
            }
            .delete-icon-content{
                position: absolute;
                bottom: 0px;
                right: 0px;
                display: flex;
                height: 40px;
                width: 40px;
                align-items: center;
                justify-content:center;
                ion-icon{
                    font-size: 25px;
                    color: #f23d3d
                }
            }
        }
        .invite-button{
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 21px;
            width: 156px;
            height: 41px;
            background: rgb( 136,58,142);
            text-transform: unset;
            margin-top: 33px;
        }       
}
.time_icon{
    background-image: url('./../assets/imgs/time_icon.png');
    height: 20px;
    width: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.location_icon{
    background-image: url('./../assets/imgs/location_icon.png');
    height: 20px;
    width: 14px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.create{
    position: fixed;
    bottom: 70px;
    right: 32px;
    background: white;
    color: rgb( 136,58,142);
    box-shadow: 0px 3px 6px 5px rgba(0,0,0,0.16);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    .add{
       font-size: 20px;          
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        font-weight: bold;
        
    }
    .fab-text{
        position: absolute;
        top: -40px;
        text-align: center;
        width: 75px;
        font-size: 10px;
        display: none; 
    }
}
.background-for-image{
    // background: #244563;
    // opacity: 0.7;
    // position: absolute;
    // height: 100%;
    // width: 100%;
}

.create:hover .fab-text {
    display:block;
   
}
    *[margin-top-27]{
        margin-top: 27px
    }
    *[margin-top-bottom-20]{
        margin: 20px 0
    }
    *[margin-left-26]{
        margin-left: 26px
    }
}
