<!--
  Generated template for the EventInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <new-header [title]="name"></new-header>
</ion-header>
<ion-content no-padding>
  <alert-event></alert-event>
  <div class="event-info">
    
    <div margin-top-15 [ngStyle]="{'background-image':defaultImage}" class="event-image">
        <div></div>
      <div [ngClass]="{'background-for-image':eventInfo?.type == 3}">
        <div *ngIf="eventInfo?.type == 3" (tap)="createEvent()" class="create-icon-content">
          <div class="create-icon"></div>
        </div>
        <div *ngIf="eventInfo?.type == 3" (tap)="deleteEvent()" class="delete-icon-content">
          <ion-icon md="ios-trash" ios="ios-trash"></ion-icon>
        </div>
      </div>
    </div>
    <div font-size-20 capitalize text-center bold segoeUI-bold margin-top-bottom-20 new-color>{{eventInfo?.name}}</div>

    <div margin-top-27 display-flex align-center>
      <div new-color>
        <div class="time_icon"></div>
      </div>
      <div margin-left-20 font-size-16 segoeUI>{{timeFormat}}</div>
    </div>
    <div margin-top-20 display-flex align-center>
      <div new-color>
        <div class="location_icon"></div>
      </div>
      <div margin-left-26 font-size-16 capitalize segoeUI>{{eventInfo?.address}}</div>
    </div>
    <div font-size-14 capitalize margin-top-20 segoeUI>{{eventInfo?.description}} </div>
    <button ion-button (tap)="doActionEvent('event/subscribe')" *ngIf="eventInfo?.type == 0" segoeUI-bold
      class="invite-button">Going</button>
    <button ion-button (tap)="doActionEvent('event/leave')" *ngIf="eventInfo?.type == 2" segoeUI-bold
      class="invite-button">Leave</button>
    <button ion-button (tap)="invite()" *ngIf="eventInfo?.type == 3 || eventInfo?.type == 2" segoeUI-bold
      class="invite-button">Invite</button>
    <button ion-button (tap)="doActionEvent('event/join')" *ngIf="eventInfo?.type == 1" segoeUI-bold
      class="invite-button">Accept</button>
  </div>
  <!-- <div (tap)="createEvent()" ion-fixed class="create">
    <div grey class="fab-text" segoeUI>create a new
      event?</div>
    <div class="add">
      <ion-icon name="add"></ion-icon>
    </div>
  </div> -->
</ion-content>