page-tabs {
    .tabs-md .tab-button[aria-selected=true], .tabs-ios .tab-button[aria-selected=true]{
        color: white;
        background: rgb(146,63,153);
        font-weight: normal
    }
    .tabs-md .tab-button,.tabs-ios .tab-button {
        //-webkit-box-shadow: 0px -3px 19px 0px rgba(0,0,0,0.75);
        //-moz-box-shadow: 0px -3px 19px 0px rgba(0,0,0,0.75);
     //   box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.75);
        color:rgb(146,63,153);
        min-height: 4.6rem
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-text,.tabs-ios .tab-button[aria-selected=true] .tab-button-text{
        font-weight: normal;
        font-family: 'SegoeUI'
    }
    .tabs-md .tab-button-text, .tabs-ios .tab-button-text, .tabs-ios .tab-button.has-title-only .tab-button-text{
        font-size: 18px;
        font-weight: bolder
    }
    
}
