modals-header{
    .header-ios .toolbar-ios:last-child .toolbar-background-ios, .header-md .toolbar-md:last-child .toolbar-background-md{
        background: white;
        border: none
    }

    .back{
        color: black;
        font-size: 18px !important;
        
    }
    .toolbar-title-md, .toolbar-title-ios{
        text-align: start;
        padding-left: 0;
    }
}