<ion-header>
        <ion-navbar>
            <ion-grid >
                <ion-row>
                    <ion-col width-fit padding-left-16 (tap)="dismiss()" display-flex align-center text-start col-1>
                        <ion-icon no-margin-left bold  class="back" name="ios-arrow-back"></ion-icon>
                    </ion-col>
                    <ion-col padding-left-16 text-start>
                        <span font-size-14 SegoeUI-Light>
                            {{title}}
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>    
        </ion-navbar>    
    </ion-header>