<ion-header>
  <new-header [title]="clubName+ ' Members'"></new-header>
</ion-header>
<ion-content>
  <alert-event></alert-event>
  <div class="members-content">
    <search (empty)="empty($event)" (val)="filter($event)"></search>
    <ion-grid no-padding-left>
      <ion-row [class.no-margin]="i==0" margin-left-5vw margin-top-20 display-flex align-center
        *ngFor="let member of members; let i=index" (tap)="openMemberInfo(member)">
        <ion-col no-padding-left width-fit col-3>
          <div [ngStyle]="{'background-image':'url(' + fileUrl + member.userImage +' )'}" class="image"></div>
        </ion-col>
        <ion-col>
          <div font-size-20 segoeUI-bold margin-bottom-5>{{member.userName}}</div>
          <div font-size-14 segoeUI> </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>