page-members {
    .scroll-content{
       // margin-top: 56px;
        padding-left: 0 !important;
        padding-right: 0 !important
    }
    .members-content{
        width: 85%;
        margin: 0 auto;
    
    [col-3]{
        width: 30%;
        max-width: 30%;
        .image{
            height: 65px;
            width: 65px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          //  border:1px solid;
            box-shadow: 0px 3px 29px 0px rgba(0,0,0,0.07);
        }
    }
}
  
}
