page-more-info {
    .image{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
       // border: 1px solid;
        margin: 0 auto;
        box-shadow: 0px 3px 29px 0px rgba(0,0,0,0.07);
    }
    .title{
        color: rgb(137,59,143);
        font-family: 'SegoeUI-Bold';
        font-size:20px;
        font-weight: bold
    }
    *[font-size-15]{
        font-size: 15px
    }
}
