<!-- <new-header></new-header> -->
<ion-header>
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col width-fit (tap)="dismiss()" display-flex align-center text-start col-1>
                    <button class="back" icon-only ion-button>
                        <ion-icon no-margin-left bold name="ios-arrow-back"></ion-icon>
                    </button>
                </ion-col>
                <ion-col display-flex align-center text-start>
                    <span segoeUI capitalize>
                        {{clubName}} Conversation {{conversationName | uppercase}}
                    </span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col padding-left-13 text-start>
                    <div bold segoeUI-bold font-size-20 capitalize margin-top-20 uppercase>{{conversationName}}</div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-grid *ngIf="isGet" class="conversation-list">
            <ion-row no-padding [ngClass]="{'justify-end':item.userId == userId}" *ngFor="let item of conversation"
                class="friend-message">
                <ion-col display-flex align-center col-2 width-fit *ngIf="item.userId !== userId">
                    <div [ngStyle]="{'background-image':'url('+fileUrl+item.avatar+')'}" class="image"></div>
                </ion-col>
                <ion-col width-fit align-center [ngClass]="{'user-message-content':item.userId == userId}"
                    margin-left-15>
                    <div segoeUI *ngIf="item.userId !== userId" capitalize font-size-10>{{item?.name}}</div>
                    <div (tap)="download(item)" segoeUI
                        [ngClass]="{'friend':item.userId !== userId,'user':item.userId == userId}" class="message ">
                        <span *ngIf="item.type == 0">{{item.content}}</span>
                        <ion-grid no-padding display-flex align-center *ngIf="item.type == 1" underline>
                            <ion-row>
                                <ion-col display-flex align-center justify-center col-2 width-fit>
                                    <div class="upload">
                                        <ion-icon
                                            [ngClass]="{'friend-download-icon':item.userId !== userId,'user-download-icon':item.userId == userId}"
                                            name="arrow-round-down">
                                        </ion-icon>
                                    </div>
                                </ion-col>
                                <ion-col display-flex align-center justify-center>
                                    <div class="break"> {{item.fileName}}</div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar margin-auto width-90 full-height>
        <ion-buttons left>
            <button class="select-file-button" ion-button icon-only (tap)="uploadFile()">
                <div class="file_icon"></div>
            </button>
        </ion-buttons>
        <textarea id="cin" spellcheck="true" autoComplete="true" [(ngModel)]="message" autocorrect="true"
            rows="1" class="chat-input"></textarea>
        <ion-buttons right>
            <button [disabled]="!isCheckSendButton" (tap)="sendTextMessage()" ion-button icon-only item-right class="send-button">
                <ion-icon ios="md-send" md="md-send"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>