page-conversation {
    .scroll-content{
        margin-top: 56px;
        background: rgba(0,0,0,0.07);
        margin-bottom: 70px;
    }
    .toolbar-title-md, .toolbar-title-ios{
        text-align: start
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios, .header-md .toolbar-md:last-child .toolbar-background-md{
        background: white;
        border: none
    }
    .button-ios.activated, .button-md.activated{
        background: none;
        color: black;
        box-shadow: none
    }
   
    .back{
        color: black;
        margin-left: 15px;
        background: none;
        box-shadow: none;
        margin: 0;
        ion-icon{
            font-size: 1.2em
        }
    }
    .conversation-list{       
        width: 85%;
        margin: 20px auto;
    }
    .friend{
        background: rgb( 85,196,207);
    }
    .user{
        background: rgb(136,58,142);
    }
    .image{
      //  border: 1px solid grey;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .friend-message{
        align-items: flex-end;
        display: flex;
        padding: 15px 10px 0 10px;
        .message{
            min-width: 90px;
            max-width: 170px;
            min-height: 27px;
            margin-top: 5px;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            border-radius: 20px;
            color: white;
            font-size: 14px;
        
        }
    }
    
 .upload{
     background: white;
     height: 17px;
     width: 17px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     margin-right: 10px;
  
 }
 .break{
    display: block;
    word-break: break-word;
 }
    .toolbar-content{
        text-align: center;
    }
    ion-footer{
        .footer-ios .toolbar-ios:first-child .toolbar-background-ios,.footer-md .toolbar-ios:first-child .toolbar-background-md{
            border: none
        }
        height: 70px;
        .select-file-button{
            background: white;
            box-shadow: none;
            border: none;
            .file_icon{
                background-image: url('../assets/imgs/file_icon.png');
                height: 24px;
                width: 13px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover
            }
    }
        .send-button{
            ion-icon{
                color: rgb(136,58,142)
            }
        }
    }
 
    .chat-input{
        width: 80%;
        height: 32px;
        border-radius: 20px;
        border: 1px solid rgb(85,196,207);
        padding-left: 10px;
        resize: none;
        padding-top: 5px;
    }
    .toolbar-background-md, .toolbar-background-ios{
        background: white
    }
    .toolbar-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    *[margin-left-15]{
        margin-left: 15px
    }
    *[font-size-25]{
        font-size: 25px
    }
    *[padding-left-13]{
        padding-left: 13px;
    }
    
    #cin::-webkit-scrollbar{       
        display:none;
    }
  .justify-end{
      justify-content: flex-end
  }
  .friend-download-icon{
    color: rgb( 85,196,207)
  }
  .user-download-icon{
    color:  #923f99
  
  }
.user-message-content{
    display: flex;
    justify-content: flex-end
}
}
