page-event {
    .scroll-content{
       // margin-top: 56px;
        padding-left: 0 !important;
        padding-right: 0 !important
    }
    .event-container{
        width: 85%;
        margin: 0 auto;
    }
    .card-md{
        border-radius: 6px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        //background: rgb(139,60,145)
    }
    .create{
        position: fixed;
        bottom: 70px;
        right: 37px;
        background: white;
        color: rgb( 136,58,142);
        box-shadow: 0px 3px 6px 5px rgba(0,0,0,0.16);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99999;
        .add{
           font-size: 20px;          
            // background-position: center;
            // background-repeat: no-repeat;
            // background-size: cover;
            font-weight: bold;
            
        }
        .fab-text{
            position: absolute;
            top: -40px;
            text-align: center;
            width: 75px;
            font-size: 10px;
            //display: none; 
        }
    }
}
