<!-- <tab-header ></tab-header> -->
<ion-header>
<new-header [isTab]="'true'"></new-header>
</ion-header>
<ion-content padding>
  <div class="event-container">
    <alert-event></alert-event>
    <search (empty)="empty($event)" (val)="filter($event)"></search>
    <!-- [ngStyle]="{'background-image':'url('+'assets/imgs/business_club_for_impact.png'+')'}" -->
    <ion-card [ngStyle]="setImage(event)" (tap)="openEvent(event)" *ngFor="let event of events">
      <ion-card-header capitalize white segoeUI-bold font-size-20>
        {{event.name}}
      </ion-card-header>
      <ion-card-content class="more-point" full-width capitalize white segoeUI font-size-15>
        {{event.description}}
      </ion-card-content>
    </ion-card>
  </div>
  <div (tap)="createEvent()" ion-fixed class="create">
    <div grey class="fab-text" segoeUI>create a new
      event?</div>
    <div class="add">
      <ion-icon name="add"></ion-icon>
    </div>
  </div>
</ion-content>