alert-event{
    .event-list{
        position: fixed;
       // top: 56px;
        width: 160px;
        right: 0;
        box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.43);
        z-index: 999;
        overflow: scroll;
        max-height: 270px;
        background: white;
        .list-md{
            margin-bottom: 0
        }
        .break-word{
            display: block;
            word-break: break-all;
        }
    }
    .event-image{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px;
        box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.07);
        height: 33px;
        width: 34px;
       // border: 1px solid
    }
    .input-wrapper{
        padding: 0 !important
    }
    ion-item{
        padding: 0
    }
}