<ion-backdrop stopPropagation="true" *ngIf="appService.isCheck" (tap)="close()" disable-activated="" role="presentation"
    tappable="" class="show-backdrop" style="z-index: 9;opacity: 0;"></ion-backdrop>
<div [ngStyle]="{'top':top+'px'}" *ngIf="appService.isCheck" class="event-list">
    <ion-list class="list">
        <ion-grid *ngIf="appService.events[0]">
            <ion-row (tap)="openEvent(event)" *ngFor="let event of appService.events">
                <ion-col display-flex align-center col-2 width-fit>
                    <div class="event-image" [ngStyle]="{'background-image':'url('+fileUrl+event.image+')'}"></div>
                </ion-col>
                <ion-col display-flex align-center>
                    <div class="break-word" margin-left-20 segoeUI-bold capitalize font-size-14>{{event.name}}</div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- <button (tap)="openEvent(event)" ion-item detail-none no-lines *ngFor="let event of appService.events">
            <div class="event-image" [ngStyle]="{'background-image':'url('+fileUrl+event.image+')'}"></div>
            <div margin-left-20 segoeUI-bold capitalize font-size-14>{{event.name}}</div>
        </button> -->
    </ion-list>
</div>