page-user-profile {
    .scroll-content{
      padding: 0 !important
    }
    .header{
        height: 157px;
        background: rgb(85,196,207);
        position: relative;
        .logo{
            display: flex;
            width: fit-content;
            margin-left: auto;
            .logo-image{
                height: 27px;
                width: 67px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat
            }
        }
    
        .button-md{
            box-shadow: none;
            background: none;
            color: white;
            .back{
                color: white;
                font-size: 17px;
                margin-left: 15px;
            }
            .menu{
                background-image: url('../assets/imgs/menu.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 20px;
                width: 30px;        
            }
        
            .toolbar-title-ios, .toolbar-title-md{
                color: white;
                text-align: center
            }
            .event{
                background-image: url('../assets/imgs/alert.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 25px;
                width: 25px;
                .events-count{
                    border-radius: 50%;
                    background: rgb(255,0,0);
                    height: 14px;
                    width: 14px;
                    position: absolute;
                    top: 2px;
                    right: 4px;
                    color: white;
                    font-size: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .image-border{
            background: white;
            border: 1px solid white;
            border-radius: 50%;
            height: 145px;
            width: 145px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 3px 29px 0px rgba(0,0,0,0.07);
            position: absolute;
            bottom: -59.5px;
            left: calc(50% - 145px/2);
            margin-left: 0 !important;
           .image{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 115px;
            width: 115px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            .photo-div{
                opacity: 0.8;
                background: #bdbdbd;                
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                .photo{
                    background-image: url('../assets/imgs/Camera@2x.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;

                }
            }
           }     
        }        
    }  
    .col{
        display: flex;
        align-items: center;
    }
    [col-7]{
        display: block;
    word-break: break-word;

    }
    .border{
        border-top: 1px solid rgb(85,196,207);
        width: 75%;
        margin: 80px auto 0 auto;
    }
   
    .entity{
        width: 80%;
        margin: 10px auto 0 auto
    }
    *[font-size-16]{
        font-size: 20px
    }
    *[margin-right-16]{
        margin-right: 16px;
    }

  
}
