<ion-content>
  <alert-event [top]="'50'"></alert-event>
  <div class="header">
    <div display-flex align-center>
      <div>
        <button (tap)="dismiss()" ion-button icon-only>
          <ion-icon class="back" name="ios-arrow-back"></ion-icon>
        </button>
      </div>
      <div><span white margin-left-5 SegoeUI-Light font-size-14>User profil</span></div>
      <div class="logo">
        <div class="logo-image"
          [ngStyle]="{'background-image':'url('+'assets/imgs/business_club_for_impact_logo.png'+')'}"></div>
      </div>
      <div>
        <button (tap)="sendEvent()" padding-5 ion-button>
          <div class="event">
            <div *ngIf="appService.eventCount" class="events-count">{{appService.eventCount}}</div>
          </div>
        </button>
      </div>
      <div margin-right-16>
        <button padding-5 menuToggle ion-button>
          <div class="menu"></div>
        </button>
      </div>
    </div>
    <div class="image-border">
      <div class="image" [ngStyle]="{'background-image':lastImage}">
        <div (tap)="getPhoto()" class="photo-div">
          <div class="photo"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="border"></div>
  <ion-grid class="entity">
    <ion-row margin-top-20>
      <ion-col col-5>
        <span segoeUI-bold font-size-17>Name</span>
      </ion-col>
      <ion-col col-7>
        <div font-size-17 segoeUI>{{entityUser?.name}}</div>
      </ion-col>
    </ion-row>
    <ion-row margin-top-20>
      <ion-col col-5>
        <span segoeUI-bold font-size-17>Email</span>
      </ion-col>
      <ion-col col-7>
        <div font-size-17 segoeUI>{{entityUser?.email}}</div>
      </ion-col>
    </ion-row>
    <ion-row margin-top-20>
      <ion-col col-5>
        <span segoeUI-bold font-size-17>
          Company
        </span>
      </ion-col>
      <ion-col col-7>
        <div font-size-17 segoeUI>{{entityUser?.company}}</div>
      </ion-col>
    </ion-row>
    <ion-row margin-top-20>
      <ion-col col-5>
        <span segoeUI-bold font-size-17>
          Phone
        </span>
      </ion-col>
      <ion-col col-7>
        <div font-size-17 segoeUI>{{entityUser?.phone}}</div>
      </ion-col>
    </ion-row>




  </ion-grid>
</ion-content>