page-registration {

    .scroll-content{    
        padding-bottom: 0 !important;        
    }
    .header-content{
        .button-ios.activated, .button-md.activated{
            background:white;
            color: grey
        }
        .close-button{
            background: white;
            border: none;
            box-shadow: none;
            position: absolute;            
            left: 5px;
            top: 2px;   
            .close{      
                font-size: 2em;
                color: rgb(112,112,112);
            }
            
        }


        .logo{
            text-align: center; 
            margin-top: 20px;   
            // background-image: url('./../../assets/imgs/business_club_for_impact.png');
            // height: 124px;
            // width: 300px;
            // background-size: cover;
            // background-position: center;
            // background-repeat: no-repeat;
            .login-logo{
                /* width: 220px;
                position: absolute;
                top: -145px;*/
                width:133px;
                height: 54px;
                margin-bottom:22px;
            }
        }
}
    .form{
       width: 80%;
        margin: 0 auto;
        //width: fit-content;
        margin: 0 auto;
    
    .registr-button{
        margin-top: 20px;
        background: rgb(146,63,153);
        border-radius: 20px;
        padding: 20px;
        font-size: 18px;
        font-family: 'SegoeUI';
        text-transform:unset;
        width: 100%;
        height: 40px;
    }
    .input{
        margin: 0;
        margin-right: auto;
        border-radius: 20px;
        border: 1px solid rgb(85,196,207);
        height: 38px;
        width: 100%;
        padding-left: 10px;
    }
    .label-md[stacked], .label-ios[stacked]{
        font-size: 16px;
        margin-bottom: 7px;
        font-weight: bold;
        color: black !important;
    }
    .message{
        margin: 0   auto 0 0;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid rgb(85,196,207);
        height: 83px;
        width: 100%;         
    }
    .input-has-focus{
        border:none
    }
    .item-input-has-focus{
        border: none
    }
    .label-md{
        margin: 8px 8px 8px 0 !important;
    }
    .item-label-stacked .text-input-md, .item-label-floating .text-input-md,
    .item-label-stacked .text-input-ios, .item-label-floating .text-input-ios{
       width: 100%;
       height: 100%;
       margin: 0 !important;
       padding-right: 15px
   }
}
    textarea{
        resize: none !important
    }
   *[width-72]{
       width: 72%;
   }
   *[font-size-18]{
       font-size: 18px
   }
}
