<!-- <ion-header>
    <ion-navbar text-center>
        <ion-icon (tap)="dismiss()" class="close" name="close"></ion-icon>
        <div class="logo"> <img src="assets/imgs/business_club_for_impact.png" class="login-logo"></div>
        <div text-center segoeUI-bold new-color font-size-18 class="join-text">Join the club</div>
    </ion-navbar>
</ion-header> -->
<ion-content>
    <div class="header-content">
        <button (tap)="dismiss()" class="close-button" ion-button icon-only>
            <ion-icon class="close" name="close"></ion-icon>
        </button>
        <div class="logo"> <img src="assets/imgs/business_club_for_impact.png" class="login-logo"></div>
        <div text-center segoeUI-bold new-color font-size-18 class="join-text">Join the club</div>
    </div>
    <form class="form" [formGroup]="registrFormGroup">
        <ion-item id="name" no-lines>
            <ion-label segoeUI-bold bold stacked>Name</ion-label>
            <ion-input segoeUI (ionFocus)="scrollTo('name')" class="input" type="text" formControlName="name"
                [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item id="email" no-lines>
            <ion-label segoeUI-bold bold stacked>Email</ion-label>
            <ion-input segoeUI (ionFocus)="scrollTo('email')" class="input" type="email" formControlName="email"
                [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item id="company" no-lines>
            <ion-label segoeUI-bold bold stacked>Company</ion-label>
            <ion-input segoeUI (ionFocus)="scrollTo('company')" class="input" type="text" formControlName="company"
                [(ngModel)]="company"></ion-input>
        </ion-item>
        <ion-item id="phone" no-lines>
            <ion-label segoeUI-bold bold stacked>Phone</ion-label>
            <ion-input segoeUI (ionFocus)="scrollTo('phone')" class="input" type="number" formControlName="phone"
                [(ngModel)]="phone"></ion-input>
        </ion-item>
        <ion-item id="message" no-lines>
            <ion-label segoeUI-bold bold stacked>Message</ion-label>
            <ion-textarea segoeUI class="message" (ionFocus)="scrollTo('message')" formControlName="message"
                [(ngModel)]="message"></ion-textarea>
        </ion-item>
        <div width-72 padding-left-16>           
            <button (tap)="joinClub()" segoeUI class="registr-button" ion-button
                [disabled]="registrFormGroup.invalid">Join the
                club</button>
                <div text-center red font-size-14 *ngIf="isError">{{errorMessage}}</div>
        </div>
    </form>
</ion-content>