page-settings {
    .scroll-content{
        padding: 0 !important;
    }
    .toolbar-title-md, .toolbar-title-ios{
        text-align: start;
        color: white;
        //padding: 0 70px 1px;
    }
    .item-label-stacked .input-wrapper, .item-label-floating .input-wrapper{
        padding-left: 0 !important
    }
    .toolbar-title-md, .toolbar-title-ios{
        text-align: start;
        padding-left: 0;
    }
    .toolbar-background-md{
        background: rgb(85,196,207);
    }
    .back{
        color: white;
        font-size: 17px !important;
        margin-left: 15px;
    }
    .list{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        .label-md[stacked], .label-ios[stacked]{
                font-size: 16px;
                margin-bottom: 7px;
                font-weight: bold;
                color: black !important;
            }
            .input{
                margin: 0;
                margin-right: auto;
                border-radius: 20px;
                border: 1px solid rgb(85,196,207);
                height: 38px;
                width: 100%;
                padding-left: 10px;
                font-family: 'Segoe UI'
            }
        } 
        .change-button{
            margin-top: 20px;
            background: rgb(146,63,153);
            border-radius: 20px;
            padding: 20px;
            font-size: 18px;
            font-family: 'SegoeUI';
            text-transform:unset;
            width: 100%;
            height: 40px;
        }
        .button-ios.activated, .button-md.activated{
            background: rgb(139,60,145);
            color: white
        }
    *[font-size-18]{
        font-size: 18px
    }
}
