<ion-header>
  <ion-navbar>
    <ion-title font-size-14 SegoeUI-Light>Settings</ion-title>
    <ion-buttons left>
      <button (tap)="dismiss()" ion-button icon-only>
        <ion-icon class="back" name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button (tap)="save()" margin-right-20 segoeUI-bold unset font-size-18 white ion-button>
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>

  <form [formGroup]="formGroup" class="list">
    <ion-item id="name" no-lines>
      <ion-label stacked segoeUI-bold>Name</ion-label>
      <ion-input segoeUI (ionFocus)="scrollTo('name')" formControlName="name" class="input" type="text"
        [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item id="email" no-lines>
      <ion-label stacked segoeUI-bold>Email</ion-label>
      <ion-input segoeUI (ionFocus)="scrollTo('email')" formControlName="email" class="input" type="email"
        [(ngModel)]="email">
      </ion-input>
    </ion-item>
    <ion-item id="company" no-lines margin-top-10>
      <ion-label stacked segoeUI-bold>Company</ion-label>
      <ion-input segoeUI (ionFocus)="scrollTo('company')" formControlName="company" class="input" type="text"
        [(ngModel)]="company">
      </ion-input>
    </ion-item>
    <ion-item id="phone" no-lines margin-top-10>
      <ion-label stacked segoeUI-bold>Phone</ion-label>
      <ion-input segoeUI (ionFocus)="scrollTo('phone')" class="input" formControlName="phone" type="number"
        [(ngModel)]="phone">
      </ion-input>
    </ion-item>
    <div red font-size-14 text-center margin-top-10 *ngIf="isError">Please fill all fields</div>
    <div width-72 padding-left-16 margin-top-10>           
        <button (tap)="changePassword()" segoeUI class="change-button" ion-button>Change password</button> 
    </div>
  </form>

</ion-content>