<!--
  Generated template for the ClubPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <new-header [isTab]="'true'"></new-header>
</ion-header>
<ion-content>
  <alert-event></alert-event>
  <div class="clubs-content">
    <search (empty)="empty($event)" (val)="filter($event)"></search>
    <ion-grid>
      <ion-row (tap)="openClubInfo(club)" [class.no-margin]="i==0" *ngFor="let club of clubs; let i=index"
        class="club-list" display-flex align-center>
        <ion-col col-3 width-fit>
          <div class="image" [ngStyle]="{'background-image':'url('+club?.slider+')'}"></div>
        </ion-col>
        <ion-col>
          <h4 bold no-margin class="club-name">{{club?.title}}</h4>
          <div>
            <div style="overflow: hidden;" segoeUI font-size-14>{{club?.footer_text | morePoint}} </div>           
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>