page-club {
  .scroll-content{
      padding-left: 0 !important;
      padding-right: 0 !important;
      
  }

.clubs-content{
    width: 85%;
    margin: 0 auto;

.club-list{
   // width: 95%;
    margin-top: 25px;
    .image{
        height: 68px;
        width: 68px;
        border: 1px solid;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;
        box-shadow: 0px 3px 29px 0px rgba(0,0,0,0.07);
    }
    .club-name{
        font-family: 'SegoeUI-Bold';
        font-size: 18px;
            }
        }
    }
    .no-margin{
        margin-top: 0 !important;
    }
}
