<!--
  Generated template for the MemberInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <new-header [title]="clubName+' Members '+ memberName"></new-header>
</ion-header>
<ion-content>
  <alert-event></alert-event>
  <page-more-info [avatar]="member?.avatar" [title]="member?.name" [height]="154" [width]="154" [radius]="50"
    [greatness]="'%'" [text]="info"></page-more-info>
</ion-content>