*[text-center]{
    text-align: center
}
*[text-start]{
    text-align: start !important
}
*[text-end]{
    text-align: end
}
*[underline]{
    text-decoration: underline
}
*[padding-left-16]{
    padding-left: 16px;
}
*[padding-left-10]{
    padding-left:10px
}
*[padding-left-20]{
    padding-left: 20px;
}
*[padding-left-30]{
    padding-left: 30px
}
*[padding-left-16]{
    padding-left: 16px;
}
*[padding-bottom-20]{
    padding-bottom: 20px !important
}
*[no-padding-left]{
    padding-left: 0 !important
}
*[no-padding-right]{
    padding-right: 0 !important
}
*[no-padding-top]{
    padding-top: 0 !important
}
*[padding-top-10]{
    padding-top: 10px 
}
*[padding-top-5]{
    padding-top:5px
}
*[no-padding]{
    padding: 0 !important
}
*[padding-5]{
    padding: 5px;
}
*[display-flex]{
    display: flex
}
*[no-margin]{
    margin: 0
}
*[margin-top-10]{
    margin-top: 10px
}
*[margin-top-25]{
    margin-top: 25px !important;
}
*[margin-top-40]{
    margin-top: 40px;
}
*[margin-top-20]{
    margin-top: 20px
}
*[margin-top-15]{
    margin-top: 15px !important
}
*[margin-auto]{
    margin:0 auto
}
*[margin-right-20 ]{
    margin-right:20px 
}
*[margin-bottom-5]{
    margin-bottom: 5px
}
*[margin-bottom-20]{
    margin-bottom: 20px !important
}
*[margin-left-15]{
    margin-left: 15px
}
*[margin-left-17]{
    margin-left:14px
}
*[margin-left-5]{
    margin-left: 5px
}
*[margin-left-20]{
    margin-left: 20px
}
*[margin-left-auto]{
    margin-left: auto;
}
*[no-margin-left]{
    margin-left: 0 !important
}
*[margin-9]{
    margin: 9px 7px 9px 9px
}
*[margin-right-16]{
    margin: 0 16px 0 0
}
*[align-center]{
    align-items: center
}
*[justify-center]{
    justify-content: center
}
*[justify-end]{
    justify-content: flex-end;
}
*[full-height]{
    height: 100%;
}
*[full-width]{
    width: 100%;
}
*[width-fit]{
    width: fit-content !important;
    max-width: fit-content !important;
}
*[width-90]{
    width: 90%;
}
*[width-72]{
    width: 72%;
}
*[width-85]{
    width: 85%;
}
*[botom-45]{
   bottom:45px !important
}
*[border-bottom]{
    border-bottom: 2px solid grey
}

*[font-size-14]{
    font-size: 14px
}
*[font-size-15]{
    font-size: 15px
}
*[font-size-20]{
    font-size: 20px
}
*[font-size-16]{
    font-size: 16px
}
*[ font-size-17]{
    font-size: 17px
}
*[font-size-10]{
    font-size: 10px
}
*[grey]{
    color: rgb(112,112,112)
}
*[red]{
    color: red
}
*[white]{
    color: white
}
*[background-white]{
    background: white
}
*[new-color]{
    color: rgb(139,60,145)
}
*[unset]{
    text-transform: unset
}
*[capitalize]{
    text-transform: capitalize
}
*[uppercase]{
    text-transform: uppercase
}
*[bold]{
    font-weight: bold
}
.enable-hover a:hover{
    opacity: 1 !important;
}
.button-ios.activated, .button-md.activated{
    background: rgb(139,60,145);
    color: white
}
.button-md:hover:not(.disable-hover){
    background: rgb(139,60,145);
    color: white
}
.scroll-content{
    padding-top: 0 !important;
    overflow-y: auto;
}

.header-md::after{
    background-image: none
}
.toolbar-title-md{
    font-size: 14px
}
.buttonCss {
    button.alert-button:nth-child(1){
        width: 84px;
        box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.07);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        color: black;
        font-weight: bold;
        height: 25px;
        margin: 0;
        padding: 0;
    }

    button.alert-button:nth-child(2){
        width: 84px;
        border: 1px solid;
        box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.07);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;  
        background: rgb(139,60,145);
        color: white;
        font-weight: bold;
        height: 25px;
        padding: 0;
        margin: 0;
    } 
}
.alert-md .alert-message, .alert-ios .alert-message{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: 'SegoeUI-Light';
}
.alert-ios .alert-wrapper, .alert-md .alert-wrapper{
    min-height: 245px
}
.alert-md .alert-button-group, .alert-ios .alert-button-group{
    justify-content: center !important;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
}
.alert-md .alert-button .button-inner, .alert-ios .alert-button .button-inner{
    justify-content: center
}
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus.item-inner{
    box-shadow:none
}
.item-md.item-input.input-has-focus:Last-child{
    border-bottom: none;
    box-shadow: none
}
ion-title{
    min-width: 53px;
}
*[segoeUI]{
    font-family: 'SegoeUI'
}
*[segoeUI-bold]{
    font-family: 'SegoeUI-Bold'
}
*[segoeUI-semilight]{
    font-family: 'SegoeUI-Semilight'
}
*[SegoeUI-Italic]{
    font-family: 'SegoeUI-Italic'
}
*[SegoeUI-Light]{
    font-family: 'SegoeUI-Light'
}
*[SegoeUI-Bold-Italic]{
    font-family: 'SegoeUI-Bold-Italic'
}
*[SegoeUI-Black]{
    font-family: 'SegoeUI-Black'
}
*[SegoeUI-Semibold]{
    font-family: 'SegoeUI-Semibold'
}
.more-point{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('../assets/fonts/SEGOEUI.TTF') format('truetype');
}

@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('../assets/fonts/SEGOEUIB.TTF') format('truetype');
}

@font-face {
    font-family: 'SegoeUI-Italic';
    src: url("../assets/fonts/SEGOEUII.TTF") format('truetype');
}

@font-face {
    font-family:'SegoeUI-Light';
    src: url("../assets/fonts/SEGOEUIL.TTF") format('truetype');
}

@font-face {
    font-family: 'SegoeUI-Semilight';
    src: url("../assets/fonts/SEGOEUISL.TTF") format('truetype');
}
@font-face {
    font-family: 'SegoeUI-Bold-Italic';
    src: url("../assets/fonts/SEGOEUIZ.TTF") format('truetype');
}
@font-face {
    font-family: 'SegoeUI-Black';
    src: url("../assets/fonts/SEGUIBL.TTF") format('truetype');
}
@font-face {
    font-family: 'SegoeUI-Semibold';
    src: url("../assets/fonts/SEGUISB.TTF") format('truetype');
}
.toolbar-title-md, new-header .toolbar-title-ios{
    text-overflow: inherit;
    white-space: normal;
}
.no-margin{
    margin-top: 0 !important
}
.checkbox-ios .checkbox-icon{
    border-color: rgb(85,196,207)
}
.loading-md .spinner-crescent circle{
    stroke:rgb(85,196,207)
}


.loading-md .loading-wrapper{
    background: none;
    box-shadow: none
}
.action-sheet-md .action-sheet-button{
    border-bottom: 1px solid rgb(85,196,207);
    font-size: 18px;
    font-family: 'SegoeUI-Bold';
    padding: 0;
    margin-left: 20px;
    width: 70%;
}
.action-sheet-md .action-sheet-group:last-child{
    padding-bottom: 3.8rem;
}
.list-md .item-input:last-child{
    border-bottom: none !important
}
.datetime-md{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center
}
