page-club-info {
.scroll-content{
   // margin-top:58px
   // margin-bottom: 103px;
}
  .buttons{
        height: 38px;
        text-transform: capitalize;
        font-size: 18px;
  }
  .unread-message{
    background: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    right: 16px;
    z-index: 9999;
  }
    .members-button{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background: rgb(139,60,145);
        color: white;
    
    }
    .join-button{
        background: #8b3c91;
        color: white;
        border-radius: 20px;
        width: 65%;
    }
    .conversation-button{
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;  
        box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.11);  
        background-color: white ;
        color: rgb(139,60,145);
      
    }
    .error-text{
        text-align: center;
        color: red;
        font-size: 16px;
    }
    *[margin-top-50]{
        margin-top:50px
    }
    .button-ios.activated, .button-md.activated{
        background: rgb(139,60,145);
        color: white
    }
}
