<ion-header>
<new-header  [title]="club?.title"></new-header>
</ion-header>
<ion-content >
  <alert-event></alert-event>
  <div *ngIf="isGet">
    <page-more-info [avatar]="club?.slider" [title]="club?.title" [height]="160" [width]="226" [radius]="4"
      [greatness]="'px'" [text]="club?.text">
    </page-more-info>
    <ion-grid margin-top-20>
      <ion-row *ngIf="!isError">
        <div *ngIf="unreadMessageCount" class="unread-message">{{unreadMessageCount}}</div>
        <ion-col no-padding no-margin>
          <button class="buttons members-button" (tap)="openMembersList()" SegoeUI-Light full-width
            ion-button>members</button>
        </ion-col>
        <ion-col no-padding no-margin>
          <button class="buttons conversation-button" (tap)="openConversationList()" SegoeUI-Light full-width
            ion-button>
            conversation
          </button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isError">
        <ion-col display-flex justify-center align-center no-padding no-margin>
          <button class="buttons join-button" (tap)="joinClub()" SegoeUI-Bold 
            ion-button>Join</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>