<!--
  Generated template for the CreateConversationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div display-flex align-center width-90 margin-auto>
      <ion-buttons (tap)="dismiss()" left>
        <button text-start ion-button icon-only>
          <ion-icon class="back" name="ios-arrow-back"></ion-icon>
        </button>
      </ion-buttons>    
      <ion-buttons left>
        <div font-size-14 SegoeUI-Light>
          Select members
        </div>
      </ion-buttons>
      <ion-buttons margin-left-auto right>
        <button capitalize new-color ion-button segoeUI (tap)="createConversation()" *ngIf="selectedMemebersArr[0]"
          font-size-20>Create</button>
      </ion-buttons>
    </div>
  </ion-navbar>
  <div width-85 margin-auto>
    <search (empty)="empty($event)" (val)="filter($event)" [noPadding]="'true'"></search>
    <ion-grid width-85 margin-auto [class.padding-bottom-20]="selectedMemebersArr[0]" background-white #headerTag ion-fixed no-padding>
      <ion-row display-flex>
        <ion-col col-2 width-fit *ngFor="let select of selectedMemebersArr; let i=index" margin-10>
          <div (tap)="delete(i)" text-end>
            <ion-icon name="close"></ion-icon>
          </div>
          <div margin-auto [ngStyle]="{'background-image':'url(' + fileUrl + select.userImage +' )'}" class="image"></div>
          <div class="selected-member-names" segoeUI-bold text-center>{{select.name}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>
<ion-content>
  <div width-85 margin-auto>
    <div #scrollableTag margin-top-20 class="title" border-bottom segoeUI-bold>Proposed members</div>
    <div margin-top-20 *ngFor="let member of allMembers; let i=index" align-center display-flex>
      <ion-label (tap)="selectMember(member,'label')">
        <div [ngStyle]="{'background-image':'url(' + fileUrl + member.userImage +' )'}" class="image"></div>
        <div margin-left-20 font-size-20 segoeUI-bold>{{member.userName}}</div>
      </ion-label>
      <ion-checkbox mode="ios" margin-left-auto [(ngModel)]="member.isSelect" (ngModelChange)="selectMember(member)">
      </ion-checkbox>
    </div>
  </div>
</ion-content>