page-create-conversation {
    .scroll-content{
      // margin-top: 0 !important;
        padding-bottom: 20px;
    }
    .header-ios .toolbar-ios:last-child .toolbar-background-ios, .header-md .toolbar-md:last-child .toolbar-background-md{
        background: white;
        border: none
    }
    .back{
        color: black;
        font-size: 1.2em !important;        
    }
    .bar-button-md[icon-only] ion-icon{
        min-width: 18px;
    }
    .toolbar-background-md{
        background: white;
        border: none
    }
    .toolbar-title-md, .toolbar-title-ios{
        text-align: start;
        padding-left: 0;
    }   

    .image{
       // border: 1px solid;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover
    }
    .selected-member-names{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        width: 78px;
    }
    .title{
        color: rgb(136,58,142);
        font-size: 15px;
        padding-bottom: 7px;
        border-bottom: 1px solid rgb(85,196,207);
        font-weight: bold
    }
    .create-button{
        background: none;
        box-shadow: none;
        border: none
    }
    .label-md {
        margin: 0 8px 0 0;
        display: flex;
        align-items: center;
    }
    .checkbox-ios .checkbox-checked{
        background-color: rgb(85,196,207);
        border-color: rgb(85,196,207)
    }
  .padding-bottom-20{
    padding-bottom:20px
  }
    *[margin-10]{
        margin: 10px
    }
    *[width-85]{
        width: 85%;
    }
  *[width-90]{
      width: 90%;
  }
}
