<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button (tap)="dismiss()" ion-button icon-only>
        <ion-icon class="close" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button new-color capitalize segoeUI (tap)="createEvent()" font-size-20>Confirmed</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <form [formGroup]="formGroup">
    <div *ngIf="isError" text-center red font-size-20>Fill all fields</div>
  <ion-grid class="container">
    <ion-row margin-top-20>
      <ion-col>
        <div (tap)="openeditprofile()" [ngStyle]="{'background-image':lastImage}" class="add-photo">
          <label *ngIf="!lastImage" segoeUI font-size-20>add a photo</label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="event">
        <div margin-top-20 text-center> <input (focus)="scrollTo('event')" type="text" segoeUI
            class="event-name-description name" formControlName="eventName" [(ngModel)]="eventName" placeholder="event name:">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="description">
        <div margin-top-20 text-center><textarea padding-top-5 type="text" class="event-name-description textarea"
            placeholder="Description of the event:" formControlName="description" 
            [(ngModel)]="description" (focus)="scrollTo('description')" segoeUI></textarea>
          </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-fit col-1 align-center display-flex>
        <div>
          <div class="time_icon"></div>
        </div>
      </ion-col>
      <ion-col id="times">
        <ion-grid>
          <ion-row id="times" text-center>
            <ion-col font-size-14 col-2 align-center segoeUI display-flex><span>start</span> </ion-col>
            <ion-col col-2>
              
                <ion-datetime displayFormat="DD" (ionChange)="startDayChange($event)" [(ngModel)]="startDay" segoeUI class="date" formControlName="startDay"></ion-datetime>
             
            </ion-col>
            <ion-col col-2>
                <ion-datetime  #strtMnt displayFormat="MM" (ionChange)="startMonthChange($event)" [(ngModel)]="startMonth" segoeUI class="date" formControlName="startMonth"></ion-datetime>
               
              </ion-col>
            <ion-col col-3>
                <ion-datetime displayFormat="YYYY" [(ngModel)]="startYear" segoeUI class="year-time" formControlName="startYear"></ion-datetime>
             
            </ion-col>
            <ion-col font-size-14 col-1 align-center segoeUI justify-center display-flex>at</ion-col>
            <ion-col col-3>
                <ion-datetime displayFormat="HH:mm" [(ngModel)]="startTime" segoeUI class="year-time" formControlName="startTime"></ion-datetime>

            </ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col font-size-14 col-2 align-center segoeUI display-flex><span>end</span></ion-col>
            <ion-col col-2>
                <ion-datetime displayFormat="DD" (ionChange)="endDayChange($event)" [(ngModel)]="endDay" segoeUI class="date" formControlName="endDay"></ion-datetime>
              
               <!-- <input padding-left-2 [(ngModel)]="endDay" formControlName="endDay" (focus)="scrollTo('times')" class="date" segoeUI type="number"> -->
               
            </ion-col>
            <ion-col col-2> 
                <ion-datetime displayFormat="MM" (ionChange)="endMonthChange($event)" [(ngModel)]="endMonth" segoeUI class="date" formControlName="endMonth"></ion-datetime>
              <!-- <input padding-left-2 [(ngModel)]="endMonth" formControlName="endMonth" (focus)="scrollTo('times')" class="date" segoeUI type="number"> -->
            </ion-col>
            <ion-col col-3>
                <ion-datetime displayFormat="YYYY" [(ngModel)]="endYear" segoeUI class="year-time" formControlName="endYear"></ion-datetime>
              <!-- <input padding-left-2  [(ngModel)]="endYear" formControlName="endYear" (focus)="scrollTo('times')" class="year-time" segoeUI type="number"> -->
            </ion-col>
            <ion-col font-size-14 col-1 justify-center segoeUI align-center display-flex>at</ion-col>
            <ion-col col-3>
                <ion-datetime displayFormat="HH:mm" [(ngModel)]="endTime" segoeUI class="year-time" formControlName="endTime"></ion-datetime>
              <!-- <input padding-left-2  [(ngModel)]="endTime" formControlName="endTime" (focus)="scrollTo('times')" class="year-time" segoeUI type="text"> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row margin-top-60>
      <ion-col width-fit col-1 align-center display-flex>
        <div>
          <div class="location_icon"></div>
        </div>
      </ion-col>
      <ion-col id="location" display-flex justify-end>
        <input (focus)="scrollTo('location')" [(ngModel)]="location" formControlName="location" placeholder="location" segoeUI class="place-input" type="text">
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<!-- <ion-datetime displayFormat="DD"  pickerFormat="DD" (ionChange)="change($event)" [(ngModel)]="m" segoeUI class="date" ></ion-datetime> -->
<!-- (ionChange)="changedsi($event)" -->
</ion-content>