page-create-event {
    .toolbar-background-md{
        background: white;
        border: none;
       
    }
    ion-buttons{
            margin: 0 1.5rem !important;
        }
        .name{
            height: 30px;            
        }
        .event-name-description{
            width: 100%;
            border: 1px solid rgb(85,196,207);
            border-radius: 6px;
            text-align: center;
            font-size: 15px;
            color: black
        }
        .textarea{
            max-height: 150px;
            min-height: 30px;
            resize: none !important;
        }
        .container{
            width: 85%;
            margin: 0 auto;          
            .add-photo{
                height: 106px;
                width: 100%;
                border-radius: 6px;
                border: 1px solid rgb(85,196,207);
                margin: 0 auto;
                overflow: hidden;
                position: relative;
                justify-content: center;
                display: flex;
                align-items: center;
                cursor: pointer;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
        
                // input[type="file"] {
                //     width: 100%;
                //     height: 100%;
                //     cursor: pointer;
                //     position:absolute;
                //     top: 0;
                //     right: 0;
                //     z-index: 99;
                //     /*This makes the button huge. If you want a bigger button, increase the font size*/
                //     font-size:50px;
                //     /*Opacity settings for all browsers*/
                //     opacity: 0;
                //     -moz-opacity: 0;
                //     filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
                // }
            }
            .time_icon{
                background-image: url('./../assets/imgs/time_icon.png');
                height: 20px;
                width: 20px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .location_icon{
                background-image: url('./../assets/imgs/location_icon.png');
                height: 20px;
                width: 14px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .date{
                border-radius: 6px;
                border: 1px solid rgb(85,196,207);
                height: 22px;                
                width: 100%;                   
            }
            .year-time{
                border-radius: 6px;
                border: 1px solid rgb(85,196,207);
                height: 22px;              
               width: 100%;               
            }
        }
        ion-input{
            .text-input, .text-input-md{
                margin: 0;
                height: 100%;
            }
        }
        .place-input{
            border: 1px solid rgb(85,196,207);
            border-radius: 6px;
            height: 30px;          
            width: 95%;
            font-size: 17px;
            padding-left: 15px
        }
        [col-3]{
            width: 22%;
            max-width: 22%;
        }
        [col-2]{
            width: 22%;
            max-width: 15.66667%;
        }
      
   *[margin-top-60]{
       margin-top: 60px
   }
   *[padding-left-2]{
       padding-left: 2px
   }
  
}
