new-header{
    .toolbar-ios, .toolbar-md{
        min-height: 56px
    }
    .logo{
        display: flex;
        width: fit-content;
        margin-left: auto;
        //margin-right: 15px;
        .logo-image{
            height: 27px;
            width: 67px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat
        }
    }
    .toolbar-background-md, .toolbar-background-ios{
        background: rgb(85,196,207);
        border: none !important;
       
    }
    .toolbar-content-md{
        display: flex;
        align-items: center;
    }
    .menu{
        background-image: url('../assets/imgs/menu.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 20px;
        width: 30px;        
    }

    .toolbar-title-ios, .toolbar-title-md{
        color: white;
        text-align: center
    }
    .event-alert{
        background-image: url('../assets/imgs/alert.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 25px;
        width: 25px;
        .events-count{
            border-radius: 50%;
            background: rgb(255,0,0);
            height: 14px;
            width: 14px;
            position: absolute;
            top: -2px;
            right: -1px;
            color: white;
            font-size: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .back{
        color: white;
        font-size: 17px !important;
        margin-left: 15px;
    }
    .toolbar-title-md, .toolbar-title-ios{
        text-align: start;
        padding-left: 0;
    }
    .margin-right{
        margin-right: 15px;
    }

}