<!-- <ion-header > -->
  <ion-navbar  #navbar hideBackButton>
    <ion-title *ngIf="!isTab" capitalize font-size-14 SegoeUI-Light>{{title}}</ion-title>
    <ion-buttons (tap)="dismiss()" *ngIf="!isTab" left>
      <button  ion-button icon-only>
        <ion-icon class="back" name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <div class="logo">
      <div class="logo-image" [ngStyle]="{'background-image':'url('+logo+')'}"></div>
    </div>
    <ion-buttons (tap)="sendEvent()" margin-9 right>
      <button no-padding no-margin ion-button>
        <div class="event-alert">
          <div *ngIf="appservice.eventCount" class="events-count">{{appservice.eventCount}}</div>
        </div>
      </button>
    </ion-buttons>
    <ion-buttons no-padding margin-right-16 right>
      <button no-padding no-margin menuToggle ion-button>
        <div class="menu"></div>
      </button>
    </ion-buttons>
  </ion-navbar>
<!-- </ion-header> -->