page-search {
}
    .button-md.activated{
        background: rgb(85,196,207)
    }
    .searchbar-md .searchbar-input, .searchbar-ios .searchbar-input{
        background: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: none;
        border: 1px solid rgb(85,196,207);
        border-right: none;
        text-align: center;
        height: 30px;
        margin: auto   
    }
    .search-button{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background: rgb(85,196,207);
        width: 100%;
        height: 30px;
        margin: 0;
        padding: 0;
        box-shadow: none;
        .search{
            background-image: url('../assets/imgs/search.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 16px;
            width: 16px;
        }    
    }
    .searchbar-ios{
        background: white;
        border: none;
    }
    .searchbar-md .searchbar-search-icon, .searchbar-ios .searchbar-search-icon{
        background-image: none
    }
    .searchbar-md .searchbar-clear-icon{
        display: none !important
    }
    .no-padding{
        padding-left: 0
    }



