<!-- <div >
    <ion-searchbar [(ngModel)]="myInput" (ionInput)="send($event)">
        
    </ion-searchbar>
    <div class="search-button">
            <div class="search"></div>
        </div>
</div> -->
<ion-grid [class.no-padding]="noPadding">
    <ion-row  display-flex align-center>
        <ion-col no-padding col-10>
            <ion-searchbar  no-padding-left no-padding-right [(ngModel)]="myInput" (ionInput)="sendEmptyVal($event)"> </ion-searchbar>
        </ion-col>
        <ion-col no-padding col-2>
            <button (tap)="sendName()" ion-button display-flex align-center justify-center class="search-button">
                <div class="search"></div>
            </button>
        </ion-col>
    </ion-row>
</ion-grid>