<ion-content>
  <ion-menu type="overlay" id="authenticated" [content]="content" side="right" persistent="true">
    <ion-header class="menu-header">
      <ion-toolbar height-125>
        <!-- <ion-title class="men">name</ion-title> -->
        <div display-flex align-center>
          <div class="image-border">
            <div class="image" [ngStyle]="{'background-image':menuEntityService.image}"></div>
          </div>
          <div class="names" bold>{{menuEntityService.name}}</div>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button no-padding-left bold no-lines detail-none ion-item menuClose *ngFor="let p of pages"
          (tap)="openPage(p)">
          <div class="menu-page-icon" [ngStyle]="{'background-image':'url('+p.icon+')'}"></div>
          <!-- <ion-icon  [name]="p.icon"></ion-icon> -->
          <div font-size-20 segoeUI-bold> {{ p.title }}</div>
        </button>
      </ion-list>

    </ion-content>
    <ion-footer padding no-padding-left no-padding-top>
      <ion-toolbar>
        <button padding-left-30 bold no-lines detail-none ion-item menuClose (tap)="exit()">
          <ion-icon bold class="menu-page-icon" item-start name="md-exit"></ion-icon>
          <div font-size-20 segoeUI-bold>Exit</div>
        </button>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-nav #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>
</ion-content>