page-menu {
    .scroll-content{
      //  padding: 0 !important
    }
    .menu-header{
        .toolbar-background-md, .toolbar-background-ios{
            background:  rgb(85,196,207);
           height: 125px;
        }
    }
    .image-border{
        background: white;
        border: 1px solid white;
        //padding: 20px;
        border-radius: 50%;
        height: 85px;
        width: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 17px;
       .image{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70px;
        width: 70px;
        border-radius: 50%;
       }     
    }
    ion-list{
        .input-wrapper{
            padding-left: 30px
        }
    }
    
    .label-md, .label-ios{
        display: flex;
        align-items: center;
        
    }
    .menu-page-icon{
        margin-right:40px !important;
        height: 21px;
        width: 21px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .item[no-lines], .item.item[no-lines] .item-inner{
        margin-left: 0 !important
    }
   
    // .item-md, .item-ios{
    //     padding-left: 30px;
    // }
    .names{
        color: white;
        font-weight: bold;
        font-size: 18px;
        margin-left: 10px;
    }
    ion-footer{
        .toolbar-background-md,.toolbar-background-ios{
            background: white;
            border: none
        }
    }
    .toolbar-md{
        padding-left: 0
    }
    .footer-md::before, .footer-ios::before{
        height: 0;
        border-top: 1px solid rgb(85,195,207);
        width: 90%;
        margin-left: 5%;
        background-image: none
    }
    .footer-ios .toolbar-background-ios{
        border-color:rgb(85,195,207)
    }
   .active{
       background: rgb(85,195,207);
       color: white
   }

    *[height-125]{
        height: 125px;
    }
    *[no-padding-left]{
        padding-left: 0 !important
    }
   
}
